<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="header-name">
            <p>Ticket Master</p>
        </div>
        <div class="header-phone">
            <p>+7(123)456789</p>
        </div>
    </header>
    <main>
        <div class="left-side">
            <nav>
                <ul>
                    <li>
                        <a href="#">Tickets</a>
                    </li>
                    <li>
                        <a href="#">Some</a>
                    </li>
                    <li>
                        <a href="#">Project</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="right-side">
            <div class="tabs">
                <div class="tabs-item-click">
                    <a href="#">All</a>
                </div>
                <div class="tabs-item">
                    <a href="#">Closed</a>
                </div>
                <div class="tabs-item">
                    <a href="#">Open</a>
                </div>
            </div>
            <div class="tickets-container">
                <div class="ticket">
                    <div class="icon"></div>
                    <div class="ticket-text">
                        <p>Ticket Title Link</p>
                    </div>
                    <div class="ticket-date">
                        <p>24.10.2018</p>
                    </div>
                    <div class="checkbox">
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="ticket">
                    <div class="icon"></div>
                    <div class="ticket-text">
                        <p>Ticket Title Link</p>
                    </div>
                    <div class="ticket-date">
                        <p>25.10.2018</p>
                    </div>
                    <div class="checkbox">
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="ticket">
                    <div class="icon"></div>
                    <div class="ticket-text">
                        <p>Ticket Title Link</p>
                    </div>
                    <div class="ticket-date">
                        <p>26.10.2018</p>
                    </div>
                    <div class="checkbox">
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="ticket">
                    <div class="icon"></div>
                    <div class="ticket-text">
                        <p>Ticket Title Link</p>
                    </div>
                    <div class="ticket-date">
                        <p>27.10.2018</p>
                    </div>
                    <div class="checkbox"><select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select></div>
                </div>
                <div class="ticket">
                    <div class="icon"></div>
                    <div class="ticket-text">
                        <p>Ticket Title Link</p>
                    </div>
                    <div class="ticket-date">
                        <p>28.10.2018</p>
                    </div>
                    <div class="checkbox"><select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select></div>
                </div>
            </div>
        </div>

    </main>
    <footer>
        <div class="copyright">

        </div>
    </footer>
</body>

</html>