<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ticket Master</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="header">
        <div class="header-name">
            <p>Ticket Master</p>
        </div>
        <div class="header-phone">
            <p>+7(123)456789</p>
        </div>
    </header>
    <div class="main-container">
        <aside class="left-side">
            <nav>
                <ul>
                    <li>
                        <a href="#">Tickets</a>
                    </li>
                    <li>
                        <a href="#">Some</a>
                    </li>
                    <li>
                        <a href="#">Project</a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main>
            <div class="tabs">
                <div class="tabs-item-click">
                    <a href="#">All</a>
                </div>
                <div class="tabs-item">
                    <a href="#">Closed</a>
                </div>
                <div class="tabs-item">
                    <a href="#">Open</a>
                </div>
            </div>
            <div class="tickets-container">
                <div class="ticket">
                    <div class="icon-done"></div>
                    <div class="ticket-text">
                        <p>Ticket Title Link</p>
                    </div>
                    <div class="ticket-date">
                        <p>24.10.2018</p>
                    </div>
                    <ul class="checkbox">
                        <li>Menu
                            <ul class="sub-checkbox">
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="ticket">
                    <div class="icon-todo"></div>
                    <div class="ticket-text">
                        <p>Ticket Title Link</p>
                    </div>
                    <div class="ticket-date">
                        <p>25.10.2018</p>
                    </div>
                    <ul class="checkbox">
                        <li>Menu
                            <ul class="sub-checkbox">
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="ticket">
                    <div class="icon-inprogres"></div>
                    <div class="ticket-text">
                        <p>Ticket Title Link</p>
                    </div>
                    <div class="ticket-date">
                        <p>26.10.2018</p>
                    </div>
                    <ul class="checkbox">
                        <li>Menu
                            <ul class="sub-checkbox">
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="ticket">
                    <div class="icon-inprogres"></div>
                    <div class="ticket-text">
                        <p>Ticket Title Link</p>
                    </div>
                    <div class="ticket-date">
                        <p>27.10.2018</p>
                    </div>
                    <ul class="checkbox">
                        <li>Menu
                            <ul class="sub-checkbox">
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="ticket">
                    <div class="icon-done"></div>
                    <div class="ticket-text">
                        <p>Ticket Title Link</p>
                    </div>
                    <div class="ticket-date">
                        <p>28.10.2018</p>
                    </div>
                    <ul class="checkbox">
                        <li>Menu
                            <ul class="sub-checkbox">
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
    <footer class="footer">
        <div class="footer-links">
            <a href="#">Contacts</a>
            <a href="#">List</a>
        </div>
        <div class="copyright">
            <p>2018 © Ticket Master Все права защищены.</p>
        </div>
    </footer>
</body>

</html>