<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="header-name">
            <p>Ticket Master</p>
        </div>
        <div class="header-phone">
            <p>+7(123)456789</p>
        </div>
    </header>
    <main>
        <div class="left-side">
            <nav>
                <ul>
                    <li>
                        <a href="#">Tickets</a>
                    </li>
                    <li>
                        <a href="#">Some</a>
                    </li>
                    <li>
                        <a href="#">Herny</a>
                    </li>
                    <li>
                        <a href="#">Hyiny</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="right-side">
            <div class="tabs">
                <div class="tabs_item">
                    <a href="#">All</a>
                </div>
                <div class="tabs_item">
                    <a href="#">Closed</a>
                </div>
                <div class="tabs_item">
                    <a href="#">Open</a>
                </div>
            </div>
            <div class="tickets_container">
                <div class="ticket"></div>
                <div class="ticket"></div>
                <div class="ticket"></div>
                <div class="ticket"></div>
                <div class="ticket"></div>
            </div>
        </div>

    </main>
    <footer>
        <div class="copyright">

        </div>
    </footer>
</body>

</html>