html, body, div, ul, li, a, p {
    margin: 0;
    padding: 0;
    border: 0;
    background: #030615;
    color: #ffffff;
}

header {
    margin: 2% 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.header-name{
    text-align: left;
    font-size: 2rem;
}

.header-phone {
    text-align: right;
    font-size: 2rem;
}

main {
    border-top:1px #d2d4f5 solid;
    border-bottom:1px #d2d4f5 solid;
    margin: 5% 20%;
    display: grid;
    grid-template-columns: 1fr 9fr;
   
}

.left-side {
    border-right: #d2d4f5 1px solid;
    height: auto;
}

.left-side ul {
    list-style: none;
}

.left-side ul li {
    padding: 30% 0;
    border-bottom: 1px #d2d4f5 solid;
}

.left-side a {
    text-decoration: none;
    color: #d2d4f5;
    font-size: 1.5rem;
}

.left-side a:hover {
    color: #8689b2;
}

.right-side {
    
    
}

