html, body, div, ul, li, a, p {
    margin: 0;
    padding: 0;
    border: 0;
    background: #030615;
    color: #ffffff;
}

.header {
    margin: 2% 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.header-name{
    text-align: left;
    font-size: 2rem;
}

.header-phone {
    text-align: right;
    font-size: 2rem;
}

.main-container {
    margin: 5% 20%;
    display: grid;
    grid-template-columns: 1fr 9fr;
}

.left-side {
    border-right: #d2d4f5 3px solid;
    height: auto;
}

.left-side ul {
    list-style: none;
}

.left-side ul li {
    padding: 30% 0;
    border-bottom: 3px #d2d4f5 solid;
}

.left-side a {
    text-decoration: none;
    color: #d2d4f5;
    font-size: 1.5rem;
}

.left-side a:hover {
    color: #8689b2;
}

.tabs {
    margin: 2% 0 0 2%;
    display: grid;
    grid-template-columns: 10% 10% 10%;
    text-align: center;
}

.tabs a {
    text-decoration: none;
    font-weight: bold;
}

.tabs a:hover {
    color: #8689b2;
}

.tabs-item {
    padding: 7%;
    border: #8689b2 2px solid;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    font-size: 1rem; 
}

.tabs-item-click {
    padding: 5%;
    border: #8689b2 2px solid;
    border-bottom: none;
    font-size: 1.2rem;
}

.tickets-container {
    height: 500px;
    margin: 0% 0 2% 2%;
    border: #8689b2 1px solid;
}

.ticket {
    height: auto;
    border-bottom: #8689b2 1px solid;
    display: grid;
    grid-template-columns: 10% 65% 15% 10%;
    
}

.icon-done:before {
    content: url(./img/icons8-realtime-50.png);
    width: 100%;
    height: 100%;
}

.icon-todo:before {
    content: url(./img/icons8-to-do-50.png);
    width: 100%;
    height: 100%;
}

.icon-inprogres:before {
    content: url(./img/icons8-system-task-50.png);
    width: 100%;
    height: 100%;
}

.ticket-text {
    border-right: #8689b2 1px solid;
}

.ticket-text p {
    padding-top: 4%;
}

.ticket-date {
    border-right: #8689b2 1px solid;
    text-align: center;
}

.ticket-date p {
    padding-top: 17%;
}

.checkbox {
    padding-top: 25%;
    border-right: #8689b2 1px solid;
    list-style: none;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.sub-checkbox {
    display: none;
    position: absolute;
    list-style: none;
    text-align: center;
}

 .checkbox li:hover .sub-checkbox {
    display: block;
    z-index: 111;
}

.sub-checkbox li {
    border: #8689b2 1px solid;
    width: 70px;;
    text-align: center;
    color: #d2d4f5;
    cursor: pointer;
}

.sub-checkbox li:hover {
    border: #d2d4f5 1px solid;
    color: #8689b2;
}

.footer {
    margin: 2% 20%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.footer-links {
    text-align: left;
}

.footer-links a {
    margin-right: 3%; 
    text-decoration: none;
    color: #8689b2;
}

.footer-links a:hover {
    color: #d2d4f5;
}

.copyright {
    text-align: right;
}

.copyright p {
    color: #8689b2;
}