html, body, div, ul, li, a, p {
    margin: 0;
    padding: 0;
    border: 0;
    background: #030615;
    color: #ffffff;
}

header {
    margin: 2% 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.header-name{
    text-align: left;
    font-size: 2rem;
}

.header-phone {
    text-align: right;
    font-size: 2rem;
}

main {
    margin: 5% 20%;
    display: grid;
    grid-template-columns: 1fr 9fr;
   
}

.left-side {
    border-right: #d2d4f5 1px solid;
    height: auto;
}

.left-side ul {
    list-style: none;
}

.left-side ul li {
    padding: 30% 0;
    border-bottom: 1px #d2d4f5 solid;
}

.left-side a {
    text-decoration: none;
    color: #d2d4f5;
    font-size: 1.5rem;
}

.left-side a:hover {
    color: #8689b2;
}

.tabs {
    margin: 2% 0 0 2%;
    display: grid;
    grid-template-columns: 10% 10% 10%;
    text-align: center;
}

.tabs a {
    text-decoration: none;
    font-weight: bold;
}

.tabs a:hover {
    color: #8689b2;
}

.tabs-item {
    padding: 7%;
    border: #8689b2 2px solid;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    font-size: 1rem; 
}

.tabs-item-click {
    padding: 5%;
    border: #8689b2 2px solid;
    border-bottom: none;
    font-size: 1.2rem;
}

.tickets-container {
    height: 500px;
    margin: 0% 0 2% 2%;
    border: #8689b2 1px solid;
}

.ticket {
    height: auto;
    border-bottom: #8689b2 1px solid;
    display: grid;
    grid-template-columns: 5% 80% 10% 5%;
    
}

.icon {
    border-right: #8689b2 1px solid;
}

.ticket-text {
    border-right: #8689b2 1px solid;
}

.ticket-text p {
    padding: 1.5%;
}

.ticket-date {
    border-right: #8689b2 1px solid;
    text-align: center;
}

.ticket-date p {
    padding: 15%;
}

.checkbox {
    border-right: #8689b2 1px solid;
}

.checkbox select {
    height: 100%;
    width: 100%;
    padding: 5px;
    margin: 0 auto;
    border: 0;
    border-radius: 0;
    background: #8689b2;
    color: #ffffff;
    font-size: 16px;
    line-height: 1;
}

.checkbox select:hover {
    color: #030615;
}