.calculator {
    margin: 5% 30%;
}

.arg {
    width:14%;
    float:left; 
    height:auto;
    white-space:  nowrap;
    text-align: center;
}

.operation {
    width: 14%;;
    margin: 0 29%;
    float: left; 
    white-space:  nowrap;
    text-align: center; 
}

.itemValue {
    border-bottom: 1px solid #000;
    width: 100%;
    display: block;
    text-align: center;
    height: 20px;
    font-weight: 20px;
}

.result {
    float: left;
    width: 100%;
}

.resultValue {
    border-bottom: 1px solid #000;
    width: 100%;
    display: block;
    text-align: right;
    height: 20px;
    font-weight: 20px;
}

.operButton input {
    width: 16%;
    float: left;
    margin: 2% 0 5% 0;
}

.operButton input:nth-child(2) {
    position: relative;
    left: 5%;
    right: 5%;
    padding: 0 2.5% inherit;
}

.operButton input:nth-child(3) {
    position: relative;
    left: 10%;
    right: 10%;
    padding: 0 2.5% inherit;
}

.operButton input:nth-child(4) {
    position: relative;
    left: 15%;
    right: 15%;
    padding: 0 2.5% inherit;
}

.operButton input:nth-child(5) {
    float: right;
}

.numButton input {
    margin: 0 0 2% 0;
    width: 30%;
    float: left;
    padding: 2% 0;
}

.numButton input:nth-child(2), .numButton input:nth-child(5), .numButton input:nth-child(8) {
    position: relative;
    left: 5%;
    right: 5%;
}
.numButton input:nth-child(3), .numButton input:nth-child(6), .numButton input:nth-child(9) {
    float: right;
}

.numButton input:nth-child(10) {
    left: 35%; 
    position: relative; 
}

