.calculator {
    margin: 5% 30%;
}

.arg1 {
    width:auto;
    float:left; 
    height:auto; 
}

.arg2 {
    width:auto;
    float:right; 
    height:auto; 
}

.operation {
    width:auto;
    padding-left: 34%;
    float: left; 
    height:auto; 
}

.result {
    float: left;
    width: 100%;
}

.operButton button {
    width: 16%;
    float: left;
    margin: 2% 0 5% 0;
}

.operButton button:nth-child(2) {
    position: relative;
    left: 5%;
    right: 5%;
    padding: 0 2.5% inherit;
}

.operButton button:nth-child(3) {
    position: relative;
    left: 10%;
    right: 10%;
    padding: 0 2.5% inherit;
}

.operButton button:nth-child(4) {
    position: relative;
    left: 15%;
    right: 15%;
    padding: 0 2.5% inherit;
}

.operButton button:nth-child(5) {
    float: right;
}


.numButton button {
    margin: 0 0 2% 0;
    width: 30%;
    float: left;
    padding: 2% 0;
}

.numButton button:nth-child(2), .numButton button:nth-child(5), .numButton button:nth-child(8) {
    position: relative;
    left: 5%;
    right: 5%;
}
.numButton button:nth-child(3), .numButton button:nth-child(6), .numButton button:nth-child(9) {
    float: right;
}

.numButton button:nth-child(10) {
    left: 35%; 
    position: relative; 
}

